/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

body {
  padding: 0;
  margin: 0;
  display: grid;
  /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh;
  /* Body is the height of the viewport */
  overflow: hidden;
  /* Hide anything that goes off the window size */
}

figcaption {
  font-size: 0.9em;
  color: #555;
  text-align: center;
  margin-top: 0.5em;
}

/* Main list – regular bullets */
ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

/* Nested list – no default bullets, just indent */
ul ul {
  list-style: none;
  padding-left: 1.5em;
}

/* Add dash manually before nested list items */
ul ul li::before {
  content: "\2013 ";
  color: #000;
  font-weight: normal;
}